DATABASE_URL="mongodb+srv://davizin-ra:senha@NOMEDOCLUSTER.p68xywz.mongodb.net/NOMEDB?retryWrites=true&w=majority&appName=NOMEDOCLUSTER"

JWT_SECRET=senhajwt
JWT_EXPIRES=300

EMAIL_USER=email
EMAIL_PASS=senha