DATABASE_URL="mongodb+srv://davizin-ra:senha@nodecluster.p68xywz.mongodb.net/teste?retryWrites=true&w=majority&appName=NodeCluster"

JWT_SECRET=minhachavesecretamuitoloucanaoroubaporfavor
JWT_EXPIRES=300

EMAIL_USER=davigamer45br@gmail.com
EMAIL_PASS=senha